---
layout: single
author_profile: true
date: 2016-07-06
header:
   overlay_image: programming-header.jpg
---

{% include base_path %}

I have been a part of the games industry for over 20 years, including stints
as a QA person for Flight Simulator through Descent and Saints Row.  Most of
my time has been spent with Volition, both as a programmer and also some
time as the studio technical director.
<p><p>
Recently I've wanted to start working on some personal projects in the hope
that I can help inspire or teach others.  Recently I have been working on
an Apple ][ emulator.  I started working on the emulator because the Apple ][
was the machne I first started programming on in the early 1980's.  Having learned
BASIC and some 6502 assembly and having played a ton of games on this machine,
I wanted to create the emulator to:
<ul>
<li>Provide easy to read and understand code</li>
<li>Document what I did for others to learn</li>
<li>Provide a true cross platform emulator</li>
<li>Do something fun!</li?
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
